# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\TUAN\Desktop\gitCodeGym\module3\Modul3X1\s13_\Thuchanh\ThucThiSQLKhongDungTrans\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
