# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\TUAN\Desktop\gitCodeGym\Modul3\A10Modul3\s9_ungDungWeb\ThucHanh\TuDien\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
